#index_arkaplan {
    background-attachment: fixed;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #333;
    justify-content: left;
    display: flex;
    border-radius: 10px;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(30, 55, 178);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(152, 221, 5);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #7777af;
    box-shadow: 0px 0px 0px 5px rgba(232, 17, 5, 0.2);
    z-index: 1;
    border-radius: 12px;
    width: 240px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f00505;
    width: 205px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #grs {
    position: absolute;
    top: 11px;
    right: 35px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 5px;
    z-index: 999;
    height: 42px;
    align-items: center;
    display: flex;
    animation: changeBackgroundColor 5s infinite;
    margin-left: 95%;
  }
  
  #navbarrsm {
    width: 50px;
    height: 47px;
    border-radius: 10px;
  }
  
  body {
    background-repeat: no-repeat;
    background-position: center top 50%;
    /* height: 900px; */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background-color: white;
    opacity: 0.9;
    z-index: -1;
  }
  
  #saat {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 12px;
    display: flex;
    position: absolute;
    margin-left: 45%;
  }
  
  .ev-icon {
    font-size: 24px;
    color: #333;
    animation: bounce 0.5s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  #kullanici {
    display: block;
    margin-top: 18px;
    color: rgb(4, 0, 255);
    border-radius: 10px;
    margin-left: 85%;
    position: absolute;
    font-size: 22px;
  }
  #cıkıs{
    display: block;
    text-decoration: none;
    margin-top: 20px;
    color: #f00505;
    border-radius: 10px;
    margin-left: 90%;
    position: absolute;
    font-size: 20px;
  }
  
  .slayt-container {
    position: relative;
    max-width: 45%;
    max-height: 800px;
    overflow: hidden;
    border-radius: 25px;
    margin-left: 500px;
  }
  
  .slayt-foto {
    display: flex;
    width: 70%;
    height: 50%;
    border-radius: 25px;
    justify-content: center;
    margin-left: 199px;
  }
  
  #degisenYazi {
    position: absolute;
    margin-left: 400px;
    display: block;
    width: 500px;
    font-size: 35px;
    z-index: 1;
  }
  
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container a {
    display: block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.container a:hover {
    background-color: #333;
    color: #fff;
}
  