<!DOCTYPE html> <!-- HTML belgesinin doctype'ı -->
<html lang="en"> <!-- HTML belgesinin başlangıcı ve dil belirleyici (İngilizce) -->
<head>
    <meta charset="UTF-8"> <!-- Karakter kodlama seti -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Cihazın ekran genişliğine göre görüntüleme -->
    <title>Hesap Yönetimi</title> <!-- Sayfa başlığı -->
    <link rel="stylesheet" href="/static/css/kullanici_panel.css"> <!-- Özel CSS dosyası -->
    <link rel="icon" href="/static/images/icons/setting.ico" type="image/x-icon" />
</head>
<body>
    <div class="overlay"></div> <!-- Örtü katmanı -->
    <div class="container"> <!-- Ana konteyner -->
        <h1>Hesap Yönetimi</h1> <!-- Başlık -->
        <div class="card"> <!-- Kart konteynerı -->
            <h2><a href="{{ url_for('hesap_guncelle') }}" class="button">Bilgileri Güncelle</a></h2> <!-- Bilgileri güncelleme bağlantısı -->
        </div>
        <div class="card"> <!-- Kart konteynerı -->
            <h2><a href="hesap_sil.html" class="button">Sil</a></h2> <!-- Hesabı silme bağlantısı -->
        </div>
    </div>
</body>
</html>
